@import 'select';
@import 'push_buttons';

$green: rgb(46, 204, 113);
$red: rgb(231, 76, 60);
$blue: rgb(52, 152, 219);
$tv-color: #282828;
$font-stack: 'Open Sans', 'Helvetic Neue', 'Helvetica', sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition-all($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -ms-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}

@mixin bold() {
  font-weight: 700;
}

.red {
  color: $red;
}

.groupon {
  color: #82b548;
  @include bold();
}

body,
html,
button,
select {
  font-family: $font-stack;
    font-weight: 300;
}

body,
html {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  background: $green;

}


.screens {
  $gutter: 24px;
  margin-top: $gutter * 3;
  text-align: center;
  .screen {
    display: inline-block;
    position: relative;
    background: $tv-color;
    height: 25vh;
    width: 25%;
    min-width: 25vh;
    margin: $gutter;
    border: 8px solid $tv-color;
    @include border-radius(4px);

    .content {
      position: absolute;
      background: white;
      height: 100%;
      width: 100%;

      @include transition-all(.2s);

      &.nyan {
        background: red !important;
      }

      &.weather {
        background: grey;
      }

      &.stocks {
        background: blue;
      }

      &.news {
        background: green;
      }

      &.analytics {
        background: purple;
      }

      &.meta {
        background: orange;
      }

    }

    .alert {
      display: none;
      position: absolute;
        bottom: 0;
      width: calc(100% - 12px);
      background: $red;
      color: white;
      padding: 6px;
      text-align: left;
      @include bold;

      &::after {
        content: 'Danger!'
      }

      &.show {
        display: block;
      }
    }

    .label {
      @include bold;
      position: absolute;
        bottom: 0; right: 0;
      color: white;
      opacity: .8;
      padding: 6px 12px;
      text-align: right;
    }

    .stand {
      position: absolute;
        bottom: -20px; left: 50%;
      background: $tv-color;
      width: 20px;
      margin-left: -10px;
      height: 12px;

      &::after {
        display: block;
        position: absolute;
          bottom: 0; left: 50%;
        content: '';
        background: $tv-color;
        width: 100px;
        margin-left: -50px;
        height: 4px;
      }
    }
  }

}




section {
  position: relative;
  min-height: 600px;
  padding: 4em;


}

section#splash {
  color: white;

  header {
    text-align: center;

    .title {
      font-size: 5em;
      font-weight: 600;
    }
    .subtitle {
      font-size: 2.5em;
    }

  }
}

section#channels {
  background: white;
  text-align: center;
  header {
    text-align: center;

    .title {
      font-size: 4em;
    }

    .subtitle {
      font-size: 1.2em;
    }
  }
}

section#mass-actions {
  background: #e6e6e6;
  text-align: center;
  header {
    text-align: center;

    .title {
      font-size: 4em;
    }

    .subtitle {
      font-size: 1.2em;
    }
  }
}

footer {
  background: #2d2d2d;
  color: white;
  padding: 36px;
  text-align: center;
  font-size: 1.3em;
}