<section class="channels-edit" ng-controller="ChannelForm">
  <div class="flex">
    <h2>Edit Channel</h2>
    <button class="btn btn-red btn-delete" id='delete' ng-click="deleteChannel()">Delete Channel</button>
  </div>

  <form name="channelForm" class="channel-form" ng-submit="onFormSubmit()">
    <div ng-include="'/templates/channels/fields.html'"></div>
    <div class="submit-buttons">
      <input type="submit" name="submit" value="Save Channel">
      <a href="/channels" class="btn btn-cancel">Cancel</a>
    </div>

  </form>
</section>
