<label for="name">Name</label>
<input type="text" name="name" id="name" ng-model="channel.name" required />

<label>Channel Layout</label>

<div class="layout-select row">
  <label for="layout-fullscreen" class="layout-label column">
    <input type="radio" name="layout" id="layout-fullscreen" class="radio" value="single-cell" ng-model="channel.layout">

    <div class="sample-fullscreen">
      <span class="sample-main">1</span>
    </div>

    <span class="sample-label">Full Screen</span>

  </label>

</div>

<label>Section 1</label>
<ul class="url-list">
  <li ng-repeat="url in channel.cells[0].urls" class="url-item">
    <label>URL {{ 1 + $index }}</label>
    <input type="url" name="cells0url{{ $index }}" ng-model="url.url" required />
    <a ng-show="channel.cells[0].urls.length > 1" ng-click="removeUrlFromCell(url, 0)" class="remove-link icon-times"></a>
  </li>
  <a ng-click="channel.cells[0].urls.push({url: ''})" class="new-url">Add Another URL</a>

  <li ng-show="channel.cells[0].urls.length > 1">
    <label>Rotation Duration</label>
    <div class="channel-rotation">
      <label for="duration-0-15s">
        <input type="radio" name="duration[0]" id="duration-0-15s" value="15" class="radio" ng-model="channel.cells[0].duration">
        <span>15s</span>
      </label>
      <label for="duration-0-30s">
        <input type="radio" name="duration[0]" id="duration-0-30s" value="30" class="radio" ng-model="channel.cells[0].duration">
        <span>30s</span>
      </label>
      <label for="duration-0-1m">
        <input type="radio" name="duration[0]" id="duration-0-1m" value="60" class="radio" ng-model="channel.cells[0].duration">
        <span>1m</span>
      </label>
      <label for="duration-0-2m">
        <input type="radio" name="duration[0]" id="duration-0-2m" value="120" class="radio" ng-model="channel.cells[0].duration">
        <span>2m</span>
      </label>
      <label for="duration-0-5m">
        <input type="radio" name="duration[0]" id="duration-0-5m" value="300" class="radio" ng-model="channel.cells[0].duration">
        <span>5m</span>
      </label>
    </div>
  </li>
</ul>

