<section class="chromecasts-edit" ng-controller="ChromecastForm">

  <div class="flex">
    <h2>Chromecast Settings</h2>
    <button class="btn btn-add"
            ng-controller="Chromecasts"
            ng-show="chromecastAvailable"
            ng-click="reconnect()">Reconnect</button>
    <button class="btn btn-red btn-delete" ng-click="deleteChannel()" id="delete">Delete</button>
  </div>

  <form class="chromecast-form" ng-submit="onFormSubmit()">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" disabled ng-model="chromecast.name" required>

    <label for="location">Location</label>
    <input type="text" name="location" id="location" ng-model="chromecast.location" required>

    <div class="input-group">
      <label for="channel">Channel</label>
      <select name="channel" id="channel" ng-model="chromecast.channelId" ng-options="channel.id as channel.name for channel in channels">
        <option value="">Select Channel...</option>
      </select>
      <span class="icon-down"></span>
    </div>

    <input type="submit" name="submit" value="Save Chromecast">
  </form>
</section>

